body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
    padding: 25px;
}

.hidden {
    display: none;
}

#splash {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0px;
    text-align: center;
    background: #3f3f3f;
}

#splash>span {
    font-size: 80px;
    font-weight: 800;
    line-height: 100vh;
    color: white;
}

.message {
    display: block;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding: 5px;
}

.message-name {
    font-weight: 800;
}

.message-attachment {
    height: auto;
    max-width: 50%;
}

.guild-icon, .channel {
    display: block;
}

.guild-icon {
    margin: 15px;
    width: 50px;
}

.channel {
    padding: 10px 5px;
}

.emoji {
    display: inline;
    width: 24px;
}

.column {
    display: inline-block;
    margin: 0px;
    padding: 25px;
    height: 800px;
    overflow-y: auto;
}

a {
    color: blue;
    text-decoration: underline;
}

#guilds, #channels {
    float: left;
}

#channels {
    background: #ddd;
}

#chat-container {
    background: #ccc;
    float: center;
    padding: 0px;
    width: 50%;
    position: relative;
}

#chat {
    margin: 15px;
    display: block;
    width: 95%;
}

#message-input {
    width: 100%;
    bottom: 0;
    position: absolute;
    border: none;
    border-top: 1px solid gray;
    background: none;
    padding: 25px 10px;
    margin: 0px;
    font-size: 14px;
}

#token-input {
    display: block;
    width: 100%;
}